

.swiper {
  width: 100%;
  max-width: 887px;
  max-height: 591px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.swiper-slide {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-size: initial;
  background-position: center;
  overflow: visible;
}


.swiper-slide img {
  display: block;
  max-width: 887px;
  max-height: 691px;
  width: auto;
  height: auto;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.swiper-slide {

  background-size: cover;
  background-position: center;
}


.mySwiper {
  height: 180px;
  box-sizing: border-box;
  padding: 5px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 887px;
  max-height: 691px;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
