@import "tailwindcss";


input::placeholder, textarea::placeholder {
  color: #9CA3AF;
  opacity: 1;
}
.dark input::placeholder, .dark textarea::placeholder {
  color: #D1D5DB;
  opacity: 1;
}

@custom-variant dark (&:where(.dark, .dark *));


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: fadeIn 0.5s;
  animation-duration: fadeIn 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;

}


.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


@theme {
--color-bg-d: #0D0F0F;
--color-bg-l: #F5F5F5;
--color-card-text-l: #6E6E6E;
--color-card-text-d: #BDBDBD;

--color-error: #EF4444;
--color-success: #22C55E;
--color-warning: #F59E42;
--color-Bghover-l: #EDEDED;
--color-Bghover-d: #1E1E1E;

--color-rent: #FAC984;
--color-buy: #0AA7F5;

/* --color-primary: #5A9C8E;
--color-primary-dark: #145241;
--color-secondary: #e7edec;;
--color-secondary-dark: #142121; */


--color-primary: #7B3FA0;
--color-primary-dark: #4B235A;
--color-secondary: #B18FCF;
--color-secondary-dark: #5E3B6C;

/* Status colors */
--color-status-published: #22C55E;
--color-status-reserved: #F59E42;
--color-status-sold: #EF4444;
--color-status-rented: #3B82F6;
--color-status-draft: #9CA3AF;
--color-status-hidden: #374151;

/* Admin colors */
--color-card-bg-l: #FFFFFF;
--color-card-bg-d: #212121;

/* card bg secondary */
--color-card-secondary-bg-l: #F9FAFB;
--color-card-secondary-bg-d: #262626;

/* text colors admin panel */
--color-admin-text-l: #111827;
--color-admin-text-d: #D1D5DB;

/* Bordes panel admin */
--color-admin-border-l: #D1D5DB;
--color-admin-border-d: #3A3A3A
}
