@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  -webkit-animation-duration: fadeIn 0.5s;
  animation-duration: fadeIn 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;

}


@theme {
--color-bg-d: #0E0E12;
--color-bg-l: #F5F5F5;
--color-card-text-l: #6E6E6E;
--color-card-text-d: #BDBDBD;

--color-error: #EF4444;
--color-success: #22C55E;
--color-warning: #F59E42;
--color-Bghover-l: #EDEDED;
--color-Bghover-d: #1E1E1E;

--color-rent: #FAC984;
--color-buy: #0AA7F5;

--color-primary: #00BA63;
--color-primary-dark: #053B22;


/* Status colors */
--color-status-published: #22C55E;
--color-status-reserved: #F59E42;
--color-status-sold: #EF4444;
--color-status-rented: #3B82F6;
--color-status-draft: #9CA3AF;
--color-status-hidden: #374151;

/* Admin colors */
--color-card-bg-l: #FFFFFF;
--color-card-bg-d: #212121;

--color-card-secondary-bg-l: #F9FAFB;
--color-card-secondary-bg-d: #262626;

/* Bordes panel admin */
--color-admin-border-l: #D1D5DB;
--color-admin-border-d: #3A3A3A
}
