@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  -webkit-animation-duration: fadeIn 0.5s;
  animation-duration: fadeIn 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;

}




@theme {
--color-bg-d: #0E0E12;
--color-bg-l: #F5F5F5;
--color-card-secondary-bg-l: #F9FAFB;
--color-card-secondary-bg-d: #262626;
/* Colores base y de estado para formularios */
--color-black: #000000;
--color-white: #FFFFFF;
--color-gray-light: #E5E7EB;
--color-gray: #9CA3AF;
--color-gray-dark: #374151;
--color-error: #EF4444;
--color-success: #22C55E;
--color-warning: #F59E42;
--color-info: #3B82F6;
--color-border: #D1D5DB;
--color-input-bg: #F3F4F6;
--color-input-bg-dark: #1F2937;
--color-placeholder: #6B7280;
--color-primary-dark: #053B22;

--color-Bghover-l: #EDEDED;
--color-Bghover-d: #1E1E1E;

--color-btn-rent: #FAC984;
--color-btn-buy: #0AA7F5;

--color-card-bg-l: #FFFFFF;
--color-card-bg-d: #212121;

--color-card-secondary-bg-l: #F9FAFB;
--color-card-secondary-bg-d: #262626;

--color-primary: #00BA63;
--color-primary-dark: #053B22;

}
