@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  -webkit-animation-duration: fadeIn 0.5s;
  animation-duration: fadeIn 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}




@theme {

--color-bg-l: #F5F5F5;
--color-bg-d: #0E0E12;


--color-primary: #00BA63;
--color-primary-dark: #053B22;

--color-Bghover-l: #EDEDED;
--color-Bghover-d: #1E1E1E;

--color-btn-rent: #FAC984;
--color-btn-buy: #0AA7F5;

--color-card-bg-l: #FFFFFF;
--color-card-bg-d: #212121;

--color-card-secondary-bg-l: #F9FAFB;
--color-card-secondary-bg-d: #262626;

}
