@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  -webkit-animation-duration: fadeIn 0.5s;
  animation-duration: fadeIn 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* .btn-primary {
  @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition-colors duration-200;
}

.btn-secondary {
  @apply bg-gray-600 text-white font-semibold py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200;
}

.border-radius-md {
  @apply rounded-md;
}
 */




@theme {

--color-bg-l: #F5F5F5;
--color-bg-d: #0E0E12;


--color-primary: #00BA63;
--color-primary-dark: #053B22;

--color-Bghover-l: #EDEDED;
--color-Bghover-d: #1E1E1E;

--color-btn-rent: #FAC984;
--color-btn-buy: #0AA7F5;

}
